version: '3.8'

services:
  backend:
    build: ./backend
    container_name: aquashield-backend
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_SERVER=db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=aquashield
      - DATABASE_URL=postgresql://postgres:password@db/aquashield
    depends_on:
      - db
    restart: always

  web-client:
    build: ./web-client
    container_name: aquashield-web
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15-alpine
    container_name: aquashield-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=aquashield
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
